<%- include ('../partials/header')	%>
<div class='container'>
	<div class='row '>
		<h1 style='text-align:center;'>Edit Comment</h1>
		<div style='width:30% ; margin:25px auto'>
		<form method='post' action='/campgrounds/<%=campground_id%>/comments/<%=comment._id%>/edit?_method=PUT'>
			<div class='form-group'>
				<input type='text'class='form-control'  value='<%=comment.text%>' name='comment[text]'>
			</div>
			<div class='form-group'>
				<button class='form-control btn btn-primary '>Submit!</button>
			</div>
			
		</form>
			<a href='/campgrounds'>Go Back!</a>
			
		</div>
	
		
	</div>

	
</div>	

<%- include ('../partials/footer')	%>
